<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.feedhenry.donal.mcgee.firstsenchaapp" version="" width="320" height="480" start="index.html">
<title>firstSenchaApp</title>
<description></description>
<author name="" email="donal.mcgee@feedhenry.com" url=""></author>
<license></license>
</widget>
