.logo {
	margin-top: 5px;
}
.logoOffset {
	margin-left: 30px;
}


html {

}

body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: lighter;
}

.x-toolbar-dark {
	background-color: #fff;
	background-image: none;
	background-image: none;
	background-image: none;
	border-color: #fff;
	-webkit-box-shadow: rgba(0,0,0,0.4) 2px 2px 1px 2px; 
	overflow: visible;
}

.x-toolbar-dark .x-button {
	background-color: transparent;
	background-image: none;
	background-image: none;
	background-image: none;
	border: none;
	border-top-color: transparent;
	color: transparent;
	text-shadow: none;
	-webkit-box-shadow: none;
}

.x-button img {
	width: 30%;
	height: 30%;
}

.x-toolbar-title {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	line-height: 2.1em;
	font-size: 1.2em;
	text-align: center;
	font-weight: lighter;
	font-variant:small-caps;
	color: #6d6e71;
}

.x-toolbar-dark .x-toolbar-title {
	color: #6d6e71;
}

.headerLogo {
	width: 50px !important;
}

.btm-nav {
	background-color: #599195;
}

.circle {
	width:15%;
	margin-top: -25px;
}

.menuIcon {
	width: 12%;
	margin-bottom: 40px;
	margin-top: -40px;
}